<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>아이템 등록</title>
</head>
<body>

    <th:block layout:fragment="content">

        <form action="" method="post">
           <div class="row">
               <div class="col">
                   <div class="mb-3">
                       <label for="itemNm" class="form-label">상품명</label>
                       <input type="email" name="email" class="form-control" id="itemNm" placeholder="이메일을 입력해주세요 ex ) test@naver.com" required>
                   </div>
               </div>
               <div class="col">
                   <div class="mb-3">
                       <label for="price" class="form-label">재고</label>
                       <input type="email" name="email" class="form-control" id="price" placeholder="이메일을 입력해주세요 ex ) test@naver.com" required>
                   </div>
               </div>
               <div class="col">
                   <div class="mb-3">
                       <label for="stockNumber" class="form-label">재고 수량</label>
                       <input type="email" name="email" class="form-control" id="stockNumber" placeholder="이메일을 입력해주세요 ex ) test@naver.com" required>
                   </div>
               </div>
           </div>

        </form>



    </th:block>

    <th:block layout:fragment="script">

    </th:block>

</body>
</html>