<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>
<head>
    <meta charset="UTF-8">
    <title>b</title>
</head>
<body>

    <th:block layout:fragment="content">

        <div class="row">
            <form action="/category/register" method="post">
                카테고리명 : <input type="text">
                <button>카테고리저장</button>
            </form>
        </div>

    </th:block>



</body>
</html>